span.col-md-offset-2
{
    font-weight: bold;
    font-size: 24px;
}

.col-md-3
        {
            background-color: rgba(150, 150, 150, .2);
            min-height: 500px;
            text-align: center;
        }

        .col-md-4
        {
          background-color: silver;
        }

        .col-md-5
        {
            background-color: blue;
        {

        .col-md-6
        {
            background-color: green;
        }