/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}
/* Hide all steps by default: */
.tab {
  display: none;
}
.step {
  color: #777777;
  border-bottom: 2px solid #777777;
  padding-bottom: 20px;
  opacity: 0.5;
}
/* Mark the steps that are finished and valid: */
.step.finish {
  color: #444444;
  border-bottom: 2px solid #444444;
  opacity: 1;
}
/* Mark the active step: */
.step.active {
  color: #507298;
  font-weight: bold;
  border-bottom: 2px solid #507298;
  opacity: 1;
}
h4, h5 {
    color: #a23452;
	font-weight: bold;
	font-family: "Garamond";
	letter-spacing: -1px;
	font-size: 28px;
}
input:focus {
	outline: none !important;
    border:1.2px solid #777777 !important;
    box-shadow: none !important;
}
label {
	font-size: 12px;
}
#link_address {
	font-size: 10px !important;
	color: #507298 !important;
	text-decoration: underline;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: #507298;
  border-radius: 50%;
  display: inline-block;
}
#ship_info {
	padding-top: 15px;
	font-size: 12px;
	margin-left: 15px;
	border:1px solid rgba(119, 119, 119, .5);
	max-width: 570px;
	padding-bottom: 15px;
}
#sumUp {

	height: 100%;
	padding-top: 15px;
	font-size: 12px;
	margin-left: 15px;
	border: none;
	background-color: rgba(174, 203, 197, .15);
    color: 444444;
	padding-bottom: 15px;
}
.hr {
	height: 4px;
	color: grey;
}
#prevBtn {
    margin-left: 15px;
	font-size: 14px;
	color: #507298;
	text-decoration: underline;
}
#nextBtn {
    margin-right: 15px;
	font-size: 12px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
	color: white;
	background-color: #507298;
}
#ship_method {
	padding-left: 23px;
}
#address {
	overflow: hidden;
    white-space: nowrap;
}
#checkoutButtons {
    padding-top: 15px;
}
#brand {
margin-top: 15px;
height: 65px;
}
#confirm_header {
font-size: 36px;
}
#confirm {
padding-top: 70px;
}
