
/* Sticky nav bar and footer */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

h1 {
    color: #a23452;
    font-family: "Abril Fatface";
}

h2 {
    color: #444444;
    font-family: "Abril Fatface";
}

.front-layout-title {
    padding-top: 50px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    height: 225px;
    padding: 10px;
    background-color: #a23452;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.list-unstyled {
    color: white;
}

/*  */
/*.navbar-fixed-top {*/
    /*min-height: 80px;*/
/*}*/

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

.navbar-form {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 63px;
}

.navbar {
    background-color: transparent;
}

/*@media (max-width: 767px) {*/
    /*.navbar-nav > li > a {*/
        /*line-height: 20px;*/
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;}*/
/*}*/




#footer .footer-copyright {
    text-align: center;
    color: white;
}

#footer .row {
    margin-bottom: 60px;
}

#footer .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#footer .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
    color: white;
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer a:hover,
#footer a:focus {
    text-decoration: underline;
}

#footer .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#footer .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#footer .social-networks a:hover {
    text-decoration: none;
}

#footer .facebook:hover {
    color: #0077e2;
}

#footer .snapchat:hover {
    color: #edef12;
}

#footer .instagram:hover {
    color: #ffae08;
}

#footer .twitter:hover {
    color: #00B6F1;
}